{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div
            class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-10 offset-1 mt-3 mb-3 create-account-div">
            <h2 class="text-center mt-3 mb-3">Create an Account for Free!</h2>
            <hr class="featurette-divider">
            <!--form for the user to create an account-->
            <form method="POST" action="{{ url_for('create_account') }}">
                <div class="mb-3">
                    <i class="fas fa-user-plus"></i><span class="form-label">Username</span>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <!--text input to create a username with pattern parameters-->
                        <input type="text" id="username" name="username" class="form-control validationCustomUsername"
                            minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                            aria-label="Input field for username creation" required>
                        <div class="invalid-feedback">Please create a username.</div>
                    </div>
                    <div class="col-auto">
                        <!--https://fontawesome.com/v5.15/icons/exclamation-triangle?style=solid-->
                        <i class="fas fa-exclamation-triangle form-warning-img"></i>
                        <!--password help narrative-->
                        <i><em><span class="passwordHelpInline form-text">Must be 5-15 characters long, using only
                                    letters & numbers.</span></em></i>
                    </div>
                </div>
                <div class="mb-3">
                    <i class="fas fa-user-lock"></i>
                    <label for="password" class="form-label">Create a Password</label>
                    <!--password creation field-->
                    <input type="password" id="password" name="password" class="form-control" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" aria-label="input field for password creation"
                        required>
                    <div class="col-auto">
                        <!--https://fontawesome.com/v5.15/icons/exclamation-triangle?style=solid-->
                        <i class="fas fa-exclamation-triangle form-warning-img"></i>
                        <i><em><span class="passwordHelpInline form-text">Must be 5-15 characters long, using only
                                    letters & numbers.</span></em></i>
                    </div>
                </div>
                <!--button to post the account creation-->
                <button type="submit" class="btn btn-success btn-outline-light btn-lg account-button">Create
                    Account</button>
            </form>
            <br>
            <div>
                <!--login helper redirect-->
                <p>Already have an account?
                    <a href="{{ url_for('login') }}" class="btn btn-success login-button">Log in</a>
                </p>
            </div>
        </div>
        <br>
        <hr class="featurette-divider">
    </div>
</div>
{% endblock %}