{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-10 offset-1 mt-3 mb-3">
        <h2 class=text-center>Let's edit an old entry!</h2>
        <hr class="featurette-divider">
        <br>
        <!--form to edit the entry-->
        <form method="POST" action="{{ url_for('edit_entry', username=username) }}">
            <p class="me-2">
                Select Today's Date: <span><input type="date" id="date_choice" name="date_choice" min="2021-06-01"
                        max="2023-06-01" class="date-search" aria-label="date calendar - select todays date"
                        required></span>
            </p>
            <!--for loop to bring in each form option-->
            {% for option in options %}
            <div>
                <br>
                <p class="entry-option-headings"><u>{{ option.attribute_name }}</u></p>
                <h5><em class="option-narratives">{{ option.narrative }}</em></h5>
                <br>
                <br>
                <select name="options.choice" id="options.choice" class="options-dropdown">
                    <option value="{{ option.option_one }}">{{ option.option_one }}</option>
                    <option value="{{ option.option_two }}">{{ option.option_two }}</option>
                    <option value="{{ option.option_three }}">{{ option.option_three }}</option>
                </select>
            </div>
            <hr class="featurette-divider">
            {% endfor %}
            <br>
            <!--comments text box for the user-->
            <p class="me-2">
                Enter any Comments: <span><input id="comment_text" name="comment_text" type="text"
                        class="validate comment-box" minlength="1" maxlength="50"
                        aria-label="enter any comments"></span>
            </p>
            <br>
            <hr class="featurette-divider">
            <!--entry edit submission-->
            <button type="submit" class="btn btn-success edit-task-button" aria-label="edit entry button">Edit
                Entry</button>
            <!--cancel button if user does not want to edit-->
            <a href="{{ url_for('profile', username=username) }}" class="btn btn-danger cancel-button"
                aria-label="cancel button">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}