{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div
            class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-10 offset-1 mt-3 mb-3 login-div">
            <h2 class="text-center mt-3 mb-3">Log In!</h2>
            <hr class="featurette-divider">
            <!--form for user to login-->
            <form method="POST" action="{{ url_for('login') }}">
                <div class="mb-3">
                    <i class="fas fa-user-plus"></i><span class="form-label">Username</span>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <!--text input for username-->
                        <input type="text" id="username" name="username" class="form-control validationCustomUsername"
                            minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                            aria-label="input field for username" required>
                        <div class="invalid-feedback">Enter your username.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <i class="fas fa-user-lock"></i>
                    <label for="password" class="form-label">Enter your Password</label>
                    <!--password entering field-->
                    <input type="password" id="password" name="password" class="form-control" minlength="5"
                        maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" aria-label="input field for password" required>
                </div>
                <!--login button-->
                <button type="submit" class="btn btn-success btn-outline-light btn-lg login-button"
                    aria-label="login button">Log In</button>
            </form>
            <br>
            <div>
                <p>New Here?
                    <!--account creation helper link-->
                    <a href="{{ url_for('create_account') }}" class="light-blue-text text-darken-4 link-colouring"
                        aria-label="create account link">Create an
                        Account</a>
                </p>
            </div>
        </div>
        <br>
        <hr class="featurette-divider">
    </div>
</div>
{% endblock %}