{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-8 offset-2 mt-3 mb-3">
            <h3 class=text-center>Manage Users</h3>
            <hr class="featurette-divider">
            <!--form for the admin to search users-->
            <form action="{{ url_for('search_users') }}" method="post">
                <div>
                    <label for="query_user" class="me-2">
                        Search Users
                    </label>
                    <input type="text" name="query_user" id="query_user" class="validate search-bar"
                        aria-label="search users text field" required>
                </div>
                <br>
                <div>
                    <!--reset and search redirect/button respectively-->
                    <a href="{{ url_for('manage_users') }}" class="btn btn-danger btn-sm reset-button"
                        aria-label="reset page button">Reset</a>
                    <button type="submit" class="btn btn-info btn-sm search-button"
                        aria-label="search button">Search</button>
                </div>
            </form>
            <br>
            <!--if the username search have a result, they will show. Or else narrative on no results found-->
            {% if full_users_list|length > 0 %}
            <!--for loop to get all usernames-->
            {% for user in full_users_list %}
            {% if user.username == "admin" %}
            <!--if statement to not show the admin on search result-->
            {% else %}
            <!--https://stackoverflow.com/questions/9139075/how-to-show-a-confirm-message-before-delete-->
            <!--username deletion button with message confirmation-->
            Username: {{ user.username }} <a href="{{ url_for('delete_user', username=user.username) }}"
                onclick="return confirm('Are you sure you want to delete this profile?');"
                class="btn btn-danger btn-sm user-delete-button" aria-label="delete user button">Delete</a>
            <br>
            <hr class="featurette-divider">
            {% endif %}
            {% endfor %}
            {% else %}
            <!--narrative if no results found-->
            <h3>No Results Found</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}