{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-10 offset-1 mt-3 container-fluid">
        <h1 class="text-center mb-3">Welcome to the Recovery Pod!</h1>
        <h2 class="text-center">Measure your recovery to perform optimally</h2>
        <hr class="featurette-divider">
        <!--If statement to see if a user is/is not in session-->
        {% if user_check != "Yes" %}
        <h4 class="text-center mt-4 home-page-check-text">Create an account to get Started!
            <span>
                <!--account creation button since not in session-->
                <a href="{{ url_for('create_account') }}"
                    class="mt-1 btn btn-danger btn-outline-light home-page-create-account"
                    aria-label="create account button">Create Account</a>
            </span>
        </h4>
        <br>
        <h4 class="text-center home-page-check-text">Already have an account? Login!
            <span>
                <!--login button since not in session-->
                <a href="{{ url_for('login') }}" class="mt-1 btn btn-success btn-outline-light home-page-login"
                    aria-label="login button">Log in</a>
            </span>
        </h4>
        <br>
        <hr class="featurette-divider">
        {% else %}
        {% endif %}
        <br>
        <div class="text-center">
            <!--narrative about site-->
            <h4>How do we calculate Recovery?</h4>
            <p>Here at Recovery Pod we aim to assess your recovery and readiness to train!</p>
            <p class="home-page-check-text">By filling out your recovery form on a daily basis, we assess the below
                attributes from your personal
                responses to give you a score out of 100.</p>
            <p class="home-page-check-text"><i>See our <a href="{{ url_for('about') }}"
                        aria-label="redirect to about page link">about page</a> for more details on the attributes
                    tested!</i>
            </p>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="left-div">
                    <!--attributes-->
                    <ul class="home-page-attributes">
                        <li id="home-page-list-cold-therapy">Cold Therapy</li>
                        <li id="home-page-list-nutrition">Nutrition</li>
                        <li id="home-page-list-training">Training</li>
                        <li id="home-page-list-sleep">Sleep</li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div id="home-page-circle">
                    <!--circle in middle-->
                    <h4>Attributes measured</h4>
                </div>
            </div>
            <div class="col-4">
                <div class="right-div">
                    <!--attributes-->
                    <ul class="home-page-attributes">
                        <li id="home-page-list-stretch">Stretch</li>
                        <li id="home-page-list-smr">SMR</li>
                        <li id="home-page-list-feeling">Feeling</li>
                        <li id="home-page-list-hydration">Hydration</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <hr class="featurette-divider">
        <div class="row">
            <div class="information-div col-md-6 offset-md-3 home-block mb-3">
                <h4 class="text-uppercase text-center mt-3"><u>Recovery Pod Membership</u></h4>
                <div class="text-center home-block">
                    <h5>Personal Insights</h5>
                    <p>See how your habits change over the course of time</p>
                    <br>
                    <h5>View Other Entries</h5>
                    <p>See how you're doing against other athletes</p>
                    <br>
                    <h5>Personalized metric scoring</h5>
                    <p>Specific calculations of receovery for you</p>
                    <br>
                </div>
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
</div>
{% endblock %}